<p-table [value]="planets">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Diameter</th>
            <th>Distance from Sun</th>
            <th>Number of Moons</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-planet>
        <tr>
            <td>{{planet.name}}</td>
            <td>{{planet.diameter}}</td>
            <td>{{planet.distanceFromSun}}</td>
            <td>{{planet.numberOfMoons}}</td>
        </tr>
    </ng-template>
</p-table>
