<div *ngIf="planet">
  <div class="flex justify-content-end mb-4">
    <button pButton type="button" (click)="goBack()" i18n>Back to list</button>
  </div>
  <h2 class="text-2xl font-bold mb-4">{{planet.name}}</h2>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <p class="font-bold" i18n>Diameter:</p>
      <p>{{planet.diameter}}</p>
    </div>
    <div>
      <p class="font-bold" i18n>Distance from Sun:</p>
      <p>{{planet.distanceFromSun}}</p>
    </div>
    <div>
      <p class="font-bold" i18n>Number of Moons:</p>
      <p>{{planet.numberOfMoons}}</p>
    </div>
  </div>
</div>
